nav {
    background-color: #3a3a3a;
    height: 90px;
}

nav div {
    width: 1000px;
    margin: 0 auto;
}

nav ul li {
    color: #969696;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    padding: 35px;
}

nav img {
    margin-left: 20px;
    float: left;
    padding: 10px;
}

nav ul {
    text-align: center;
}

main {
    width: 960px;
    margin: 0 auto;
}

main cover img:first-of-type {
    width: 960px;
    height: 450px;
    margin: 30px auto;
}

main img {
    width: 33.33%;
    padding: 5px;
    margin-right: 20px;
}

main div {
    display: flex;
}

main section {
    margin-top: 30px;
    display: flex;
}

main section img {
    width: 480px;
    height: 400px;
}

main section div p {
    font-family: 'Noto Sans TC', sans-serif;
    font-style: oblique;
    font-size: 25px;
    width: 100%;
}

button {
    float: right;
    margin-left: 11px;
}

button {
    color: #A1A1A1;
    background-color: black;
    width: 200px;
    font-size: 20px;
    padding: 7px 20px 7px 20px;
    border-radius: 10px;
}

footer {
    height: 100px;
    background-color: #3a3a3a;
}